.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}

/* Style the search bar */
#search-input {
    width: 450px;
    padding: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 5px;
}

/* Center the dropdown menu */
#suggestions {
    position: relative;
}
.form-select{
    width: 300px;
}
.dropdown-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 300px;
    color: black;
}
.search-drop{
    display: flex;
}

.dropdown-item {
    padding: 8px;
    cursor: pointer;
    color: black;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

/* Side menu for child items */
.side-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 200px;
    position: absolute;
    top: 0;
    z-index: 10;
    background-color: #fff;
}
.list ul{
    width: 600px;
}
/* Navbar styling */
.navbar {
    background-color: #6c2cc0;
    padding: 10px;
}

.navbar-brand, .nav-link {
    color: white !important;
}
.search_suggestion_list_box ul {
    list-style: none;
    padding-left: 0; 
}
