.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

/* Style the search bar */
#search-input {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 5px;
}

/* Center the dropdown menu */
#suggestions {
    position: relative;
}

.dropdown-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    width: 200px;
    position: absolute;
    z-index: 10;
    background-color: #fff;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for exact centering */
}

.dropdown-item {
    padding: 8px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

/* Side menu for child items */
.side-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    width: 200px;
    position: absolute;
    left: 100%; /* Position it to the right of the parent menu */
    top: 0;
    z-index: 10;
    background-color: #fff;
}